<!DOCTYPE html>
<html lang="es">
<head>

    <title> {% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}">

</head>

<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('index') }}" >Home</a>
                    </li>
                    <li>
                         <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('review') }}">Reviews</a>
                    </li>
                    <li>
                        <a href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header" style="background-image: url('/static/img/hotel.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class="text-backgroud">Curso Flask</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="center">
                    <div class="alert alert-success">
                        <strong class="text-center"> {{ message }}. </strong>
                    </div>
                </div>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}



    {% block content %} 

    {% endblock %}
        
    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">&copy; Curso Flask 2016</p>
            </div>
        </div>
    </footer>

</body>

</html>
