{% extends 'bases/_base.html' %}

{% block title %} Comentarios {% endblock %}

{% block body %} 
	
	<div class="center-align">
		<h4 class="header "> Comentarios</h4>
	</div>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	  	<div class="center-align">
		    <ul>
		    {% for message in messages %}
		      <li class="flashes" >{{ message }}, visualiza tu comentario <a href="#"> aqui </a> </li>
		    {% endfor %}
		    </ul>
	    </div>
	  {% endif %}
	{% endwith %}

	{% from "bases/_formhelpers.html" import render_field %}
	
	<div class="row">
    <form class="col s12" method="POST" action="/comentario">
      <div class="row">
        <div class="input-field col s12">
          {{ render_field(form.username, class='validate') }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ render_field(form.email, class='validate') }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           {{ render_field(form.comment, class='validate') }}
        </div>
      </div>
			<div class="row">
        <div class="input-field col s12">
					<button class="btn #1565c0 blue darken-3" type="submit" name="action">Submit
  				  <i class="material-icons right">send</i>
  				</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}

