{% extends 'base/base.html'%}
{% from "macro.html" import render_field %}

{% block title %} {{ context['title'] }}  {% endblock %}

{% block content %}
   <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>¿Alguna duda, algún comentario o alguna aclaración acerca del curso?!
                    Con toda confianza estamos para ayudarte, estás a un submit de distancia.
                </p>

                <br>
                <br>
                
                <form name="sentMessage" id="contactForm" method="POST">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             {{ render_field(form.username, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             {{ render_field(form.email, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             {{ render_field(form.comment, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                   
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}